antlr4-python3-runtime==4.9.1
atomicwrites
defusedxml==0.7.1
ipykernel
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
pexpect==4.8.0
pre-commit==4.2.0
pylint==2.15.8
pysimplegui
pyyaml>=5.4.1
transforms3d==0.4.1
utm
