antlr4-python3-runtime==4.9.1
atomicwrites==1.4.1
defusedxml==0.7.1
ipykernel==6.30.1
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
pexpect==4.8.0
pre-commit==4.2.0
pylint==2.15.8
PySimpleGUI==5.0.8.3
pyyaml>=5.4.1
transforms3d==0.4.1
utm==0.8.1
scipy==1.16.2
# HUMANOID
rospy-message-converter==0.5.2
# ros2_numpy
mediapipe==0.10.21
transformations==2025.8.1
torch==2.8.0
tqdm==4.67.1
pandas==2.3.2
black==21.12b0
unidiff>=0.5
uvloop==0.18.0
empy==4.2
lark==1.2.2
catkin_pkg
rospkg==1.6.0
ruamel.yaml
