antlr4-python3-runtime==4.9.1
atomicwrites==1.4.1
black==21.12b0
catkin_pkg
defusedxml==0.7.1
empy==4.2
ipykernel==6.30.1
lark==1.2.2
# ros2_numpy
mediapipe==0.10.21
notebook
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
pandas==2.3.2
pexpect==4.8.0
pre-commit==4.2.0
pre-commit
pylint==2.15.8
PySimpleGUI==5.0.8.3
pytest
pyyaml>=5.4.1
rospkg==1.6.0
# HUMANOID
rospy-message-converter==0.5.2
ruamel.yaml==0.18.13
scipy==1.16.2
torch==2.8.0
tqdm==4.67.1
transformations==2025.8.1
transforms3d==0.4.1
unidiff>=0.5
utm==0.8.1
uvloop==0.18.0
