<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="aruco_link" params="number">
        <static>true</static>
        <link name="aruco_${number}_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.5 0.5 .001" comment="THE ACTUAL SIZE OF ARUCO"/>
                </geometry>
            </visual>
        </link>
    </xacro:macro>

    <xacro:macro name="aruco_joint" params="attach_to number x y z r p w">
        <joint name="aruco_${number}_joint" type="fixed">
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${w}"/>
            <parent link="${attach_to}"/>
            <child link="aruco_${number}_link"/>
        </joint>
    </xacro:macro>

   <xacro:macro name="aruco_gazebo" params="number">
        <gazebo reference="aruco_${number}_link">
            <static>true</static>
                <visual name="aruco_front_face">
                <pose>0.00005 0 0 0 0 0</pose>
                <material>
                    <ambient>1 1 1 1</ambient>
                    <diffuse>1 1 1 1</diffuse>
                    <specular>0 0 0 0</specular>
                    <emissive>0 0 0 0</emissive>
                    <pbr>
                        <metal>
                            <albedo_map>model://aruco/materials/textures/${number}.png</albedo_map>
                            <name>aruco_${number}</name>
                        </metal>
                    </pbr>
                </material>
            </visual>
            <visual name="aruco_back_face">
                <pose>-0.00005 0 0 0 0 0</pose>
                <geometry>
                    <box>
                        <size>0.0001 1  1</size>
                    </box>
                </geometry>
            </visual>
        </gazebo>
   </xacro:macro>

   <xacro:macro name="aruco" params="number x y z r p w">
        <xacro:attach_aruco attach_to="static_agents/base_link" number="${number}" x="${x}" y="${y}" z="${z}" r="${r}" p="${p}" w="${w}"/>
   </xacro:macro>

    <xacro:macro name="attach_aruco" params="attach_to number x y z r p w">
            <xacro:aruco_link number="${number}"/>
            <xacro:aruco_joint attach_to="${attach_to}" number="${number}" x="${x}" y="${y}" z="${z}" r="${r}" p="${p}" w="${w}"/>
            <xacro:aruco_gazebo number="${number}"/>
    </xacro:macro>
</robot>