<?xml version="1.0" ?>
<model>
    <name>ground_visual</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Hjalmar Rusck</name>
        <email>hjalmar@dynorobotics.se</email>
    </author>
    <description>The entire ground, for the factory, parking lot etc. Only the visuals</description>
</model>
